
<div class="input-group mb-3">
    <input type="text" 
        class="form-control-lg" 
        placeholder="Type invenotry name here to search"/>
        <button type="button" class="input-group-text btn-primary">Viev</button>

</div>

@code {

}
